// Define variables for your color scheme

// For example:

$blue: #003545;
$dark-green: #00454A;
$light-green: #00454A;
$dark-gray: #393E46;
$light-gray: #F9F9F9;
$pink: #ED6363;

$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
